<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../Ex01/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../Ex01/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">             <!--container-->
        <div class="row">                     <!--row 1-->
            <div class="col-3">ช่องที่ 1</div>  <!--column 1-->
            <div class="col-3">ช่องที่ 2</div>  <!--column 2-->
            <div class="col-3">ช่องที่ 3</div>  <!--column 3-->
            <div class="col-3">ช่องที่ 4</div>  <!--column 4-->
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-3">
            Level 1: .col-sm-3
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-8 col-sm-6">
                Level 2: .col-8 .col-sm-6
              </div>
              <div class="col-4 col-sm-6">
                Level 2: .col-4 .col-sm-6
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>