<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css" />

    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style/style.css" />

    <title>Document</title>
  </head>
  <body>
    <section class="container-fluid header-img ">
      <!-- navbar -->
      <div class="row">
        <div class="col-6 text-center">
          <p class="display-5 text-white">MY Food</p>
        </div>
        <div class="col-6 text-center mt-3">
          <a href="" class="btn btn-secondary">Dowload</a>
          <a href="" class="btn btn-secondary">เข้าสู่ระบบ</a>
        </div>
      </div>
      <!-- end navbar -->

      <div class="row">
        <div class="col-5 d-flex justify-content-end">
        <div class="card w-50 mt-5">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
