<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body class="m-0">
    <!-- หัวข้อใหญ่ -->
    <section class="header-img">
      <div class="container">
        <div class="row">
          <!-- navbar -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid w-75 justifry-content-between">
              <a class="navbar-brand text-white" href="#">MY FOOD</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item mx-3">
                    <a
                      class="nav-link active btn btn-secondary text-white"
                      aria-current="page"
                      href="#"
                      >Download</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-white" href="#"
                      >เข้าสู่ระบบ</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <!-- end navbar -->
        <div class="row">
          <div class="col-6 my-5">
            <div class="card w-50 mx-auto">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- จบหัวข้อใหญ่ -->

    <!-- โปรโมชั่น -->
    <section class="container mt-3">
      <div class="row">
        <div class="col">
          <h3 class="display-3">Promotion</h3>
        </div>
        <div class="row d-flex justifry-content-between flex-wrap">
          <div class="col-4 my-3">
            <div class="card" style="width: 25rem">
              <img src="assets/img/img1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 my-3">
            <div class="card" style="width: 25rem">
              <img src="assets/img/img1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 my-3">
            <div class="card" style="width: 25rem">
              <img src="assets/img/img1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 my-3">
            <div class="card" style="width: 25rem">
              <img src="assets/img/img1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 my-3">
            <div class="card" style="width: 25rem">
              <img src="assets/img/img1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 my-3">
            <div class="card" style="width: 25rem">
              <img src="assets/img/img1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col text-center">
            <a name="" id="" class="btn btn-success w-25" href="#" role="button"
              >ดูเพิ่มเติบ...</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- จบโปรโมชั่น -->

    <!-- แสดงเมนูอาหาร -->
    <section class="container mt-3">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              src="assets/img/img1.png"
              class="d-block w-50 mx-auto"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="assets/img/img1.png"
              class="d-block w-50 mx-auto"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="assets/img/img1.png"
              class="d-block w-50 mx-auto"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- จบแสดงเมนูอาหาร -->

    <!-- About us -->
    <section class="container mt-4">
      <div class="row">
        <div class="col text-center">
          <h5 class="display-5">ทำไมคุณต้องลอง MYFOOD</h5>
        </div>
        <div class="row my-4">
          <div class="d-flex align-items-center w-75 mx-auto">
            <img
              src="assets/icons/icon1.png"
              width="55px"
              class="mx-3"
              alt=""
            />
            <p class="fs-2 self-al">
              เเหล่งรวมร้านอาหารชื่อดัง ทุกจานอร่อย จากร้านอาหารเด็ด
            </p>
          </div>
          <hr class="w-75 mx-auto my-3" />
        </div>
        <div class="row my-4">
          <div class="d-flex align-items-center w-75 mx-auto">
            <img
              src="assets/icons/icon1.png"
              width="55px"
              class="mx-3"
              alt=""
            />
            <p class="fs-2 self-al">
              เเหล่งรวมร้านอาหารชื่อดัง ทุกจานอร่อย จากร้านอาหารเด็ด
            </p>
          </div>
          <hr class="w-75 mx-auto my-3" />
        </div>
        <div class="row my-4">
          <div class="d-flex align-items-center w-75 mx-auto">
            <img
              src="assets/icons/icon1.png"
              width="55px"
              class="mx-3"
              alt=""
            />
            <p class="fs-2 self-al">
              เเหล่งรวมร้านอาหารชื่อดัง ทุกจานอร่อย จากร้านอาหารเด็ด
            </p>
          </div>
          <hr class="w-75 mx-auto my-3" />
        </div>
      </div>
    </section>
    <!-- end About us -->
  </body>
</html>
